@mixin format-nav-a($c1){
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:fixed;
    background-color: $c1;
    width: 100%;
}

@mixin format-nav-b($c1,$p1,$p2){
    float: left;
    padding: $p1 $p2;
    color: $c1;
    display: block;
    text-align: center;
}

@mixin format-times($p1,$p2){
    display: flex;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    left: $p1;
    right: $p2;
}

body{
    text-align: center;
    display: flex;
    flex-direction: column;
}

#timer-box{
    display: flex;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}


#session-time{
    @include format-times(20em,25em);
}

#break-time{
    @include format-times(45em, 50em);
}
#menu-options>nav>ul {
  top: 0;
  @include format-nav-a(black)
}

#menu-options>nav>ul>li {
  @include format-nav-b(white,14px,16px)
  
}

#about-section>nav>ul {
  bottom: 0;
  @include format-nav-a(black)
}

#about-section>nav>ul>li {
  @include format-nav-b(white,14px,16px)
  
}

@mixin margin_format($m1,$m2,$m3: null,$m4:null){
    margin: $m1 $m2 $m3 $m4;
}

#mins{
    @include margin-format(auto, 0px, auto, auto);
}
#colon{
    @include margin-format(auto, 0px);
}
#secs{
    @include margin-format(auto, auto, auto, 0px);
}
